{% extends 'base.html.twig' %}

{% block title %} SerbizHub Website {% endblock %}

{% block body %}

    <!--Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="first-slide" src="img/aboutbackground.jpg" alt="First slide">
                <div class="container">
                <div class="carousel-caption d-none d-md-block"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--Carousel End-->

    <!--Features-->
    <div class="features-clean">
        <div class="container" style="background-size:cover;background-position:bottom;background-color:#ffffff;">
            <center><h2>We believe in the power of ideas</h2></center>
            <br>
            <div class="row features">
                <div class="col-sm-6 col-lg-4   item">
                    <h3 class="name">Who We Are</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris in aliquam sem fringilla ut. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus sed. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Arcu dictum varius duis at. Sed nisi lacus sed viverra tellus in.</p>
                </div>
                <div class="col-sm-6 col-lg-4   item">
                    <h3 class="name">What We Do</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In vitae turpis massa sed elementum. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Lacus laoreet non curabitur gravida arcu ac tortor. Velit scelerisque in dictum non consectetur a erat nam.</p>
                </div>
                <div class="col-sm-6 col-lg-4   item">
                    <h3 class="name">How We Work</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Curabitur gravida arcu ac tortor dignissim convallis aenean. Elementum curabitur vitae nunc sed velit dignissim sodales. Faucibus scelerisque eleifend donec pretium. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="max-width: 1000;">
        <img class="card-img" height="100" src="/img/orange1.png" alt="Card image">
        <div class="card-img-overlay">
            <div class="row featurette" >
                <div class="col-md-9">
                <h3 style="color:white;">Check out our portfolio now</h3>
                </div>
                <div class="col-md-3">
                <button type="button" class="btn btn-secondary">Explore</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of features-->

    

{% endblock %}


