{% extends 'base.html.twig' %}

{% block title %} SerbizHub Website {% endblock %}

{% block body %}
    <!--Services-->
    <div class="features-clean">
        <div class="container" style="background-size:cover;background-position:bottom;background-color:#ffffff;">
            <br>
            <center><h2>Careers</h2>
            <p> serbizHub welcomes developers, coders, marketeers, consultants seeking work-life balance as well as personal and professional growth in a progressive environment.
            <br><br> Visit <br><br> <a href="http://moodlearning.com/jobs" style="color:#f37021"> moodlearning.com/jobs</a> <br> for more details. </p> </center>
            <br>
        </div>  
    </div>

    
    <div class="card" style="max-width: 1000;">
        <img class="card-img" height="70" src="/img/orange1.png" alt="Card image">
        <div class="card-img-overlay">
            
        </div>
    </div>

    

{% endblock %}


