<!-- FOOTER -->
<footer style="margin:0px;">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3></h3><img src="/img/logo1.png" />
            <p class="company-name"><strong>Copyright ©</strong><a href="https://moodlearning.com/"><strong>moodLearning, Inc.</strong></a><strong>2011-8.</strong><br /></p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            
            
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            
        </div>
    </div>
</footer>