<!-- FOOTER -->
<footer style="margin:0px;">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3></h3><img src="/img/logo1.png" />
            <p class="company-name"><strong>Copyright ©</strong><a href="https://moodlearning.com/"><strong>moodLearning, Inc.</strong></a><strong>2011-8.</strong><br /></p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"></span>
                <p><span class="new-line-span" style="font-size:11px;">Entreprise Program for Technopreneurship<br />3/F National Engineering Center<br />University of the Philippines<br /></span>Diliman, Quezon City</p>
            </div>
            
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">(+63 2) 652 6922<br />(+63) 917 137 8589<br /></p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">contact@moodlearning.com<br /></a></p>
            </div>
        </div>
    </div>
</footer>